<h2>Post</h2>
<div *ngIf="post$ | async as post">
  <h3>"{{ post.title }}"</h3>
  <div>
    <label>Id: </label>{{ post.id }}</div>
  <div>
    <button (click)="toggleComments()">Mostrar comentarios</button>
    <div *ngIf="showComments">
      <li *ngFor="let comment of comments"> 
        <span class="badge">{{comment.id}}</span> {{comment.body}} 
      </li>
    </div>
  </div>
</div>