.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .posts {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .posts li {
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .posts li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .posts li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .posts .text {
    position: relative;
    top: -3px;
  }
  .posts .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-right: 31em;
    margin-left: 15em;
    padding-left: 1em;
    background: #9ee7c3;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,111,105,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }

  * {
    font-family: Arial, Helvetica, sans-serif;
  }