<h2>Posts</h2>
<ul class="posts">
  <app-user [(userValue)]="query"></app-user>
    <li *ngFor="let post of posts | searchPosts:'user':query" 
    [class.selected]="post === selectedPost">
    <a [routerLink]="['/post', post.id]">
      <span class="badge">{{post.id}}</span> {{post.title}} 
    </a>
    <button style="margin-right: 1em; cursor: pointer; float:right;" (click)="deletePost(post)" >Borrar</button>
  </li>
</ul>
 
<button style="margin-bottom: 1em;" name="agregarPost" (click)="toggleAddPost()">Agregar post</button>

<div class="card" *ngIf="checked">
  <h2>Agregar post</h2>
  <div>
    <form>  
      <label for="postTitle">Titulo: </label>
      <input name="title" [(ngModel)]="post.title" id="postTitle"type="text"/>
      <!-- <br> -->
      <label for="users"> Usuario: </label>
      <select name="usuario" [(ngModel)]="post.user" id="users">
        <option *ngFor= "let user of users" value="{{user.id}}">
            {{user.fullName}}
        </option>
      </select>
      <button (click)=addPost(post) style="margin-left: 1em;" type="submit">Guardar</button>
    </form>
</div>
</div>